<section class="bg-gradient-to-r from-[#2C3E50] to-[#3498DB] text-white py-28">
  <div class="container mx-auto px-6 md:px-24 flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl md:text-6xl font-bold leading-tight mb-6 animate-fade-in">
        Sécurisez vos proches atteints d'Alzheimer
      </h1>
      <p class="text-xl mb-8 text-gray-200">
        Localisation en temps réel et alertes intelligentes pour une tranquillité d'esprit.
      </p>
      <a routerLink="/commande"
         class="bg-[#E67E22] text-white px-8 py-3 rounded-full font-semibold hover:bg-[#D35400] transition duration-300 shadow-lg hover:shadow-xl">
        Commander maintenant
      </a>
    </div>
    <div class="md:w-1/4 flex justify-center">
      <img [src]="image"
           alt="Bracelet GPS" class="rounded-full shadow-xl animate-zoom-in w-80 md:w-full" height="287" width="340">
    </div>
  </div>
</section>
