<div class="p-6 bg-white rounded-lg">
<!--  shadow-md-->
  <h3 class="text-xl font-semibold text-gray-800 text-center mb-6">Informations Personnelles</h3>

  <!-- Nom d'utilisateur -->
  <div class="mb-5">
    <label for="username" class="block text-sm font-medium text-gray-700">Nom d'utilisateur</label>
    <input type="text" id="username" formControlName="username" placeholder="Entrez votre nom"
           class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#E67E22] focus:border-[#E67E22] bg-gray-50">
  </div>

  <!-- Email avec icônes de validation -->
  <div class="mb-5 relative">
    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
    <div class="relative">
      <input type="email" id="email" formControlName="email" placeholder="Entrez votre email"
             class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#E67E22] focus:border-[#E67E22] bg-gray-50">
      <span *ngIf="orderForm.get('email')?.valid" class="absolute right-3 top-3 text-green-500">✅</span>
      <span *ngIf="orderForm.get('email')?.invalid && orderForm.get('email')?.touched" class="absolute right-3 top-3 text-red-500">❌</span>
    </div>
  </div>

  <!-- Mot de passe -->
  <div class="mb-5">
    <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe</label>
    <input type="password" id="password" formControlName="password" placeholder="Choisissez un mot de passe"
           class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#E67E22] focus:border-[#E67E22] bg-gray-50">
  </div>

  <!-- Adresse -->
  <div class="mb-5">
    <label for="address" class="block text-sm font-medium text-gray-700">Adresse (pour la livraison)</label>
    <input type="text" id="address" formControlName="address" placeholder="Entrez votre adresse"
           class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#E67E22] focus:border-[#E67E22] bg-gray-50">
  </div>

  <!-- Numéro de téléphone -->
  <div class="mb-5">
    <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Numéro de téléphone (pour la livraison)</label>
    <input type="tel" id="phoneNumber" formControlName="phoneNumber" placeholder="Entrez votre numéro"
           class="w-full px-4 py-3 mt-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#E67E22] focus:border-[#E67E22] bg-gray-50">
  </div>
</div>
