section {
  background: #f8f9fa;
}

button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #f1f1f1;
}

.bg-white {
  transition: max-height 0.4s ease-out;
}

img {
  max-width: 90%;
  height: auto;
  object-fit: cover;
}
