<div class="mb-6">
  <label for="patientName" class="text-sm font-medium text-gray-700">Nom du patient</label>
  <input type="text" id="patientName" formControlName="patientName" placeholder="Nom complet du patient"
         class="w-full px-5 py-3 mt-2 border border-gray-300 rounded-xl focus:ring-2 focus:ring-[#E67E22] focus:border-[#E67E22] bg-gray-50 transition duration-300">
</div>

<div class="mb-6">
  <label for="patientAge" class="text-sm font-medium text-gray-700">Âge du patient</label>
  <input type="number" id="patientAge" formControlName="patientAge" placeholder="Âge du patient"
         class="w-full px-5 py-3 mt-2 border border-gray-300 rounded-xl focus:ring-2 focus:ring-[#E67E22] focus:border-[#E67E22] bg-gray-50 transition duration-300">
</div>

<div class="mb-6">
  <label for="patientCondition" class="text-sm font-medium text-gray-700">Condition médicale</label>
  <input type="text" id="patientCondition" formControlName="patientCondition" placeholder="Condition médicale du patient"
         class="w-full px-5 py-3 mt-2 border border-gray-300 rounded-xl focus:ring-2 focus:ring-[#E67E22] focus:border-[#E67E22] bg-gray-50 transition duration-300">
</div>
